
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Convert.ToInt32(Session["RoleID"]) != 0 && Session["AccountID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    Links Management
</head>
<body>
    <div> 
    </div>
</body>
</html>
