<!DOCTYPE html>
<html>
<head>
<style>
    body {
        background: url(../Image/contact.jpg) no-repeat;
        background-size: cover;
    }
    p{
        align-items:center
    }
    
</style>
</head>
<body>
    <p>
        <strong>4800 Calhoun Rd <br /></strong>
        <strong>Houston, TX 77004<br /></strong>
        <strong><abbr title="Phone">P:</abbr></strong>
        <strong>425.555.0100</strong>
    </p>

    <p>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </p>
</body>
</html>