@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sanio management Portal</h1>
    <p class="lead">Sanaz and Pio are the founders of Sanio Software Solutions.</p>
    <p>Dear admins and employees log in for access.</p>
</div>

<div class="row">
    <div class="col-md-4">             
    </div>
    <div class="col-md-4">

        <img src="../Image/SS.png" />

    </div>
    <div class="col-md-4">   
    </div>
</div>